.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  color: white;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.title {
  text-align: left;
  vertical-align: top;
  font-size: 160px;
  letter-spacing: 0.1ch;
  z-index: 3;
  line-height: 0px;
  margin-top: 8vh;
  margin-left: 20vh;
}

.title:nth-child(1) {
  margin-top: 15vh;
}

.yellowBar {
  background-color: #EDC563;
  height: 50%;
  width: 2.5%;
  position: absolute;
  top: 0;
  left: 0
}

.rightContainer{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 50vh;
  right: 0;
  text-align: left;
}

.timer {
  font-size: 70px;
  text-align: right;

}

.timerDenominator {
  border: none;
  border-top: 4px solid white;
  background-color: black;
  font-size: 50px;
  text-align: right;
}

.timerInput[type=text]:focus {
  outline: none !important;
}

.timerInput::-webkit-input-placeholder {
  color: white;

}

.setTimeText {
  font-size: 24px;
}

.myInput {
  justify-content: center;
  height: 40px;
  font-size: 20px;
  width: 50px;
  text-indent: 10px;
  border-color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.myButton {
  padding: 15px 25px;
  font-size: 20px;
  margin-top: 2vh;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #EDC563;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(0, 0, 0, 0.335);
}

.myButton:hover {
  background-color: goldenrod
}

.myButton:active {
  background-color: goldenrod;
  box-shadow: 0 5px rgba(0, 0, 0, 0.7);
  transform: translateY(4px)
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  padding: 15px 25px;
  font-size: 20px;
  margin-top: 2vh;
  width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #EDC563;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(0, 0, 0, 0.335);
}

.dropdownButton:hover, .dropdownButton:focus {
  background-color: goldenrod
}

.dropdownContent {
  display: none;
  position: absolute;
}

.dropdownContent div{
  color: white;
  font-size: 20px;
}

.dropdownContent div:hover {
  background-color: #8FA1F1;
  cursor: pointer;
}

.show {
  display: flex;
  flex-direction: column;
}


.inputTextContainer {
  position: absolute;
  bottom: 15vh;
  left: 21vh;
}

.inputText {
  border: none;
  border-bottom: 2px solid white;
  background-color: black;
  color: #8FA1F1;
  width: 140%;
  font-size: 70px;
}

.inputText[type=text]:focus {
  outline: none !important;
}

.clockContainer {
  width: 55vh;
  height: 55vh;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 10vh;
  left: 48vw;
  z-index: 2;
}

.clockOrigin {
  background-color: white;
  height: 7.5%; /* Length of the tick mark */
  width: 7.5%; /* Thickness of the tick mark */
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%) translateY(-50%);
}
.label {
  position: absolute;
  font-size: 3vh;
  text-align: center;
  /*transform: translateX(-50%) translateY(-50%);*/
}

.sixty {
  top: 10%;
  left: 46.5%;
}

.fifteen {
  top: 46%;
  left: 83%;
}

.thirty {
  top: 83%;
  left: 46.5%;
}

.fortyFive {
  top: 46%;
  left: 11%;
}

.mark {
  background-color: white;
  height: 5%; /* Length of the tick mark */
  width: 1%; /* Thickness of the tick mark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center top;
}

.mark:nth-child(1) {
  /*transform: rotate(0deg) translateY(21vh); */
  transform: rotate(0) translateY(21vh); 
}

.mark:nth-child(2) {
  transform: rotate(30deg) translateY(21vh); 
}

.mark:nth-child(3) {
  transform: rotate(60deg) translateY(21vh); 
}

.mark:nth-child(4) {
  transform: rotate(90deg) translateY(21vh); 
}

.mark:nth-child(5) {
  transform: rotate(120deg) translateY(21vh); 
}

.mark:nth-child(6) {
  transform: rotate(150deg) translateY(21vh); 
}

.mark:nth-child(7) {
  transform: rotate(180deg) translateY(21vh); 
}

.mark:nth-child(8) {
  transform: rotate(210deg) translateY(21vh); 
}

.mark:nth-child(9) {
  transform: rotate(240deg) translateY(21vh); 
}

.mark:nth-child(10) {
  transform: rotate(270deg) translateY(21vh); 
}

.mark:nth-child(11) {
  transform: rotate(300deg) translateY(21vh); 
}

.mark:nth-child(12) {
  transform: rotate(330deg) translateY(21vh); 
}

.hands {
  position: absolute;
  top: 50%;
  /*border-radius: 100% 20% 20% 100%;*/
  transform-origin: 100%;
}

.minuteHand {
  /*border-top: 8vh solid white;*/
  background-color: #8FA1F1;
  height: 1vh;
  width: 30%;
  left: 20.80%;
  transform: rotate(135deg);

}

.secondHand {
  /*border-top: 10vh solid red;*/
  background-color: #EDC563;
  height: 1vh;
  width: 40%;
  left: 10.8%;
  transform: rotate(90deg);


}

.verticalLine {
  position: absolute;
  background-color: white;
  height: 70vh;
  width: 2px;
  left: 138vh;
  top: 5vh;
  z-index: 1;
}

